<br>
<div class="container">
<div class="input-group">

      <label  class="form-control">Aditya Birla Sun Life Frontline Equality Fund - Growth Plan <li>Large Cap</li></label>
      
      
      <div class="input-group-prepend">

        <span class="input-group-text text-white">10,000</span>
        
      </div>
     
  </div>
  <br>
  <div class="input-group">

    <label  class="form-control">Aditya Birla Sun Life Frontline Equality Fund - Growth Plan <li>Large Cap</li></label>
    
    <div class="input-group-prepend">

      <span class="input-group-text text-white">10,000</span>
      
    </div>
   
</div>
<br>
<div class="input-group">

    <label  class="form-control">Aditya Birla Sun Life Frontline Equality Fund - Growth Plan <li>Large Cap</li></label>
    
    <div class="input-group-prepend">

      <span class="input-group-text1 text-white">10,000</span>
      
    </div>
   
</div>
</div>