<div class="container mobileView">
    <h2 class="text text-muted">Your Recommended Portfolio</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Car</h3>
            <p class="text-muted">Coal Selected</p>
        </div>
        <i class="fa fa-inr text-muted iconSize" aria-hidden="true"></i>
        <div class="col-md-2 iconText">
            <h3>9L</h3>
            <p class="text-muted">Target Amount</p>
        </div>
        <i class="fa fa-calendar text-muted iconSize" aria-hidden="true"></i>

        <div class="col-md-2 iconText">

            <h3>Jun 2032</h3>
            <p class="text-muted">Target Date</p>
        </div>
        <div class="col-md-2">
            <h3>SIP</h3>
            <p class="text-muted">Investment Type</p>
        </div>
        <i class="fa fa-inr text-muted iconSize" aria-hidden="true"></i>
        <div class="col-md-2 iconText">
            <h3>30,000</h3>
            <p class="text-muted">Invetsment Needed</p>
        </div>
    </div>
</div>